node-red/pv_ems_flow.json
[
  {
    "id": "pvemsg_37a2e50fb4",
    "type": "tab",
    "label": "Home PV Control for HBC",
    "disabled": false,
    "info": "Standalone Home PV Control for Home Battery Control users. Controls configured PV limit entities and can optionally select the HBC strategy.",
    "env": []
  },
  {
    "id": "fea529e6b9b34321",
    "type": "inject",
    "z": "pvemsg_37a2e50fb4",
    "name": "Every 1 minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "10",
    "topic": "timer",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 120,
    "wires": [
      [
        "b6018e413112474a"
      ]
    ]
  },
  {
    "id": "aa055ca1f8cc472e",
    "type": "inject",
    "z": "pvemsg_37a2e50fb4",
    "name": "On deploy / startup",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "5",
    "topic": "startup",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 180,
    "wires": [
      [
        "b6018e413112474a"
      ]
    ]
  },
  {
    "id": "b6018e413112474a",
    "type": "function",
    "z": "pvemsg_37a2e50fb4",
    "name": "Home PV Control logic",
    "func": "// Home PV Control for HBC users.\n// Blueprint-compatible multi-inverter version with main/debug dashboard configuration.\n// HBC remains untouched except optional selection of input_select.house_battery_strategy.\n\nfunction states() {\n    return global.get('homeassistant.homeAssistant.states') || {};\n}\n\nfunction getState(entity, fallback = undefined) {\n    const s = states();\n    if (!entity || !s[entity]) return fallback;\n    return s[entity].state;\n}\n\nfunction numEntity(entity, fallback = 0) {\n    const v = parseFloat(getState(entity, fallback));\n    return Number.isFinite(v) ? v : fallback;\n}\n\nfunction strEntity(entity, fallback = '') {\n    const v = getState(entity, fallback);\n    return v === undefined || v === null ? fallback : String(v);\n}\n\nfunction helperNum(entity, fallback = 0) {\n    return numEntity(entity, fallback);\n}\n\nfunction helperStr(entity, fallback = '') {\n    return strEntity(entity, fallback);\n}\n\nfunction clamp(v, min, max) {\n    return Math.min(Math.max(v, min), max);\n}\n\nfunction serviceMsg(domain, service, data, target) {\n    return { payload: { action: `${domain}.${service}`, data, target } };\n}\n\nfunction validEntity(entity) {\n    return typeof entity === 'string' && entity.includes('.');\n}\n\nfunction pickedEntity(pickerEntity, textEntity, fallback = '') {\n    const picked = helperStr(pickerEntity, '').trim();\n    if (validEntity(picked) && picked !== 'select_entity_first') return picked;\n    return validEntity(fallback) ? fallback : '';\n}\n\nfunction lastChangedMs(entity) {\n    const s = states();\n    const lc = s[entity] && s[entity].last_changed;\n    const t = lc ? Date.parse(lc) : 0;\n    return Number.isFinite(t) ? t : 0;\n}\n\nfunction insightTime() {\n    const d = new Date();\n    const hh = String(d.getHours()).padStart(2, '0');\n    const mm = String(d.getMinutes()).padStart(2, '0');\n    return `${hh}:${mm}`;\n}\n\nfunction insight(module, node, message) {\n    const body = `${module} | ${node} | ${message}`;\n    const line = `${insightTime()} | ${body}`;\n    const key = body.trim();\n    // Deduplicate inside one EMS run as well as against stored history.\n    if (!newInsights.some(item => item.key === key)) {\n        newInsights.push({ line, key });\n    }\n}\n\nfunction insightBody(line) {\n    const parts = String(line || '').split('|').map(p => p.trim());\n    return parts.length >= 4 ? parts.slice(1).join(' | ').trim() : String(line || '').trim();\n}\n\nconst now = Date.now();\nconst enabled = strEntity('input_boolean.pv_ems_enabled', 'on') === 'on';\nconst notify = strEntity('input_boolean.pv_ems_notifications', 'on') === 'on';\nconst controlHbc = strEntity('input_boolean.pv_ems_control_hbc_strategy', 'on') === 'on';\nconst debugEnabled = strEntity('input_boolean.pv_ems_debug', 'off') === 'on';\n\n// Configurable entity IDs\nconst gridEntity = pickedEntity('input_select.pv_ems_grid_power_sensor_picker', 'input_text.pv_ems_grid_power_sensor', '');\nconst marketEntity = pickedEntity('input_select.pv_ems_market_price_sensor_picker', 'input_text.pv_ems_market_price_sensor', '');\nconst allInEntity = pickedEntity('input_select.pv_ems_all_in_price_sensor_picker', 'input_text.pv_ems_all_in_price_sensor', '');\nconst pvPowerEntity = pickedEntity('input_select.pv_ems_pv_power_sensor_picker', 'input_text.pv_ems_pv_power_sensor', '');\nconst hbcStrategyEntity = 'input_select.house_battery_strategy';\n\n// Live values\nconst market = numEntity(marketEntity, 999);\nconst allIn = numEntity(allInEntity, 999);\nconst grid = numEntity(gridEntity, 0);        // negative export, positive import\nconst pvPower = numEntity(pvPowerEntity, 0);\n\n// Settings\nconst limitingPrice = helperNum('input_number.pv_ems_pv_limiting_price', 0.00);\nconst chargePrice = helperNum('input_number.pv_ems_battery_charge_price', 0.10);\nconst expensivePrice = helperNum('input_number.pv_ems_battery_expensive_price', 0.25);\nconst hysteresis = helperNum('input_number.pv_ems_battery_price_hysteresis', 0.02);\n\nconst exportStart = helperNum('input_number.pv_ems_export_start_threshold', -300);\nconst exportTarget = helperNum('input_number.pv_ems_export_stop_threshold', -25);\nconst importRecalc = helperNum('input_number.pv_ems_import_restore_threshold', 200);\nconst minPvPower = helperNum('input_number.pv_ems_pv_min_power_for_control', 100);\nconst nightRestorePower = helperNum('input_number.pv_ems_pv_night_restore_power', 10);\nconst minChangeMinutes = helperNum('input_number.pv_ems_min_change_minutes', 1);\nconst deadband = helperNum('input_number.pv_ems_pv_adjust_deadband', 25);\n\nconst balancedStrategy = strEntity('input_select.pv_ems_balanced_strategy', 'Dynamic 2');\nconst expensiveStrategy = strEntity('input_select.pv_ems_expensive_strategy', 'Sell');\nconst currentStrategy = strEntity(hbcStrategyEntity, 'unknown');\n\n// Inverter configuration from blueprint-compatible helpers.\n// User selects inverter count (1-10). Only the first N slots are used.\nconst inverterCount = Math.round(clamp(helperNum('input_number.pv_ems_inverter_count', 1), 1, 10));\nconst configuredInverters = [];\nfor (let i = 1; i <= inverterCount; i++) {\n    configuredInverters.push({\n        name: `PV${i}`,\n        limit_entity: pickedEntity(`input_select.pv_ems_pv${i}_limit_number_picker`, `input_text.pv_ems_pv${i}_limit_number`, ''),\n        full_power: helperNum(`input_number.pv_ems_pv${i}_full_limit`, 0),\n        minimum_power: helperNum(`input_number.pv_ems_pv${i}_low_limit`, 0)\n    });\n}\n\nlet inverters = configuredInverters\n    .filter(inv => validEntity(inv.limit_entity) && inv.full_power > 0 && inv.minimum_power >= 0)\n    .map(inv => ({ ...inv, current: numEntity(inv.limit_entity, inv.full_power) }));\n\nconst outputs = Array(9).fill(null);\n// outputs:\n// 0 generic inverter limit calls, 1 status, 2 reason, 3 last action,\n// 4 unused (old target total), 5 targets json, 6 notification, 7 HBC strategy, 8 rolling insights\n\nlet status = 'Idle';\nlet reason = 'No action';\nlet pvAction = 'none';\nlet batteryOption = null;\nlet notification = null;\nlet targetTotal = 0;\nlet targets = [];\nlet newInsights = [];\n\nconst marketValid = market < 900;\nconst allInValid = allIn < 900;\nconst totalFull = inverters.reduce((s, inv) => s + inv.full_power, 0);\nconst totalMin = inverters.reduce((s, inv) => s + inv.minimum_power, 0);\nconst currentTotal = inverters.reduce((s, inv) => s + inv.current, 0);\n\n// Blueprint-compatible cooldown: use the actual HA last_changed timestamp of the inverter number entities.\n// This also respects manual changes outside Node-RED.\nconst lastChangeFromHa = inverters.length > 0 ? Math.max(...inverters.map(inv => lastChangedMs(inv.limit_entity))) : 0;\nconst lastWriteFromFlow = Number(flow.get('homePvControlLastPvWriteMs') || 0);\nconst lastChange = Math.max(lastChangeFromHa, lastWriteFromFlow);\nconst cooldownMs = minChangeMinutes * 60 * 1000;\nconst cooldownActiveComputed = lastChange !== 0 && (now - lastChange) < cooldownMs;\nconst previousCooldownActive = flow.get('homePvControlCooldownActive') === true;\nconst cooldownJustFinished = previousCooldownActive && !cooldownActiveComputed;\nconst canChangePv = !cooldownActiveComputed && !cooldownJustFinished;\nlet cooldownActiveNow = cooldownActiveComputed;\n\nconst wantsMinimumPv = allInValid && allIn <= 0;\nconst atMinimumPv = inverters.length > 0 && inverters.every(inv => inv.current <= (inv.minimum_power + deadband));\n\n// Required setup validation. Empty helpers stay empty; no personal/default entities are injected.\nlet missing = [];\nif (!validEntity(gridEntity)) missing.push('Grid power sensor');\nif (!validEntity(marketEntity)) missing.push('Market price sensor');\nif (!validEntity(allInEntity)) missing.push('All-in price sensor');\nif (!validEntity(pvPowerEntity)) missing.push('PV power sensor');\nif (controlHbc && !validEntity(hbcStrategyEntity)) missing.push('HBC strategy entity');\nfor (const inv of configuredInverters) {\n    if (!validEntity(inv.limit_entity)) missing.push(`${inv.name} limit entity`);\n    if (!(inv.full_power > 0)) missing.push(`${inv.name} max/full limit`);\n}\n\nif (!enabled) {\n    status = 'Disabled';\n    reason = 'Home PV Control is disabled';\n    insight('Home PV Control', 'Master control', 'Home PV Control disabled; no PV or HBC actions sent');\n} else if (inverters.length === 0 || totalFull <= 0) {\n    status = 'Configuration error';\n    reason = 'No valid PV inverter limit entities configured';\n    insight('Home PV Control', 'Configuration', 'No valid PV inverter limit entities configured');\n} else {\n    // Target total PV limit: PV power + grid power - target grid power.\n    // Example: PV 2500, grid -600, target -25 => 2500 - 600 + 25 = 1925.\n    const rawTarget = pvPower + grid - exportTarget;\n    targetTotal = Math.round(clamp(rawTarget, totalMin, totalFull));\n\n    targets = inverters.map(inv => {\n        const ratio = totalFull > 0 ? inv.full_power / totalFull : 0;\n        const target = Math.round(clamp(targetTotal * ratio, inv.minimum_power, inv.full_power));\n        return {\n            name: inv.name,\n            entity: inv.limit_entity,\n            current: inv.current,\n            target,\n            full_power: inv.full_power,\n            minimum_power: inv.minimum_power,\n            changed: Math.abs(inv.current - target) > deadband\n        };\n    });\n\n    const anyBelowFull = inverters.some(inv => inv.current < (inv.full_power - deadband));\n    const targetChanged = targets.some(t => t.changed);\n    const targetIsFull = targets.length > 0 && targets.every(t => t.target >= (t.full_power - deadband));\n    const targetIsMinimum = targets.length > 0 && targets.every(t => t.target <= (t.minimum_power + deadband));\n\n    const shouldForceMinimum =\n        canChangePv &&\n        targetIsMinimum &&\n        !atMinimumPv &&\n        (\n            wantsMinimumPv ||\n            (\n                !wantsMinimumPv &&\n                marketValid &&\n                market <= limitingPrice &&\n                pvPower > minPvPower &&\n                grid < exportStart\n            )\n        );\n\n    const shouldRestore =\n        anyBelowFull &&\n        !wantsMinimumPv &&\n        canChangePv &&\n        (\n            atMinimumPv ||\n            !marketValid ||\n            market > limitingPrice ||\n            pvPower < nightRestorePower ||\n            targetIsFull\n        );\n\n    const shouldAdjust =\n        !shouldForceMinimum &&\n        !shouldRestore &&\n        !targetIsFull &&\n        !targetIsMinimum &&\n        !wantsMinimumPv &&\n        marketValid &&\n        targetChanged &&\n        market <= limitingPrice &&\n        pvPower > minPvPower &&\n        canChangePv &&\n        (\n            grid < exportStart ||\n            grid > importRecalc\n        );\n\n    if (shouldForceMinimum) {\n        pvAction = 'minimum';\n        status = wantsMinimumPv ? 'PV minimum - negative price' : 'PV minimum limit';\n        reason = wantsMinimumPv\n            ? 'All-in price is zero or negative; force PV to minimum'\n            : 'Calculated target is minimum power';\n    } else if (shouldRestore) {\n        pvAction = 'restore';\n        status = 'PV restored';\n        if (atMinimumPv) reason = 'Leaving negative price minimum mode';\n        else if (!marketValid) reason = 'Market price unavailable';\n        else if (pvPower < nightRestorePower) reason = 'Night / low PV production';\n        else if (market > limitingPrice) reason = 'Market price recovered';\n        else if (targetIsFull) reason = 'Calculated target is full power';\n        else reason = 'Restore condition';\n    } else if (shouldAdjust) {\n        pvAction = 'adjust';\n        status = 'PV dynamically adjusted';\n        if (grid < exportStart) reason = 'Export above threshold';\n        else if (grid > importRecalc) reason = 'Import above recalculation threshold';\n        else reason = 'Dynamic adjustment';\n    } else {\n        status = wantsMinimumPv ? 'PV minimum active' : (market <= limitingPrice ? 'Monitoring low price' : 'PV full / price OK');\n        reason = cooldownJustFinished\n            ? 'Cooldown finished; waiting until next evaluation'\n            : (targetIsMinimum && atMinimumPv\n                ? 'PV already at minimum; waiting until higher target is needed'\n                : (canChangePv ? 'No target change needed' : 'PV cooldown active'));\n    }\n\n    // Build inverter service messages as a list for split node.\n    let calls = [];\n    if (pvAction === 'minimum') {\n        let changedMinimum = [];\n        for (const inv of inverters) {\n            if (inv.current > (inv.minimum_power + deadband)) {\n                calls.push(serviceMsg('number', 'set_value', { value: inv.minimum_power }, { entity_id: inv.limit_entity }));\n                changedMinimum.push(`${inv.name} ${inv.current}\u2192${inv.minimum_power}W`);\n            }\n        }\n        if (changedMinimum.length > 0) insight('Home PV Control', 'Negative price', `all-in=${allIn} \u20ac/kWh; ${changedMinimum.join(', ')}`);\n        targets = inverters.map(inv => ({\n            name: inv.name,\n            entity: inv.limit_entity,\n            current: inv.current,\n            target: inv.minimum_power,\n            full_power: inv.full_power,\n            minimum_power: inv.minimum_power,\n            changed: inv.current > (inv.minimum_power + deadband)\n        }));\n        if (notify) {\n            notification = {\n                title: 'PV minimum - negative price',\n                message:\n`PV forced to minimum.\n\nReason: ${reason}\n\nAll-in price: ${allIn} \u20ac/kWh\nMarket price: ${market} \u20ac/kWh\nPV power: ${pvPower} W\nGrid power: ${grid} W\n\nInverters changed: ${calls.length}`\n            };\n        }\n    } else if (pvAction === 'restore') {\n        let changedRestore = [];\n        for (const inv of inverters) {\n            if (inv.current < (inv.full_power - deadband)) {\n                calls.push(serviceMsg('number', 'set_value', { value: inv.full_power }, { entity_id: inv.limit_entity }));\n                changedRestore.push(`${inv.name} ${inv.current}\u2192${inv.full_power}W`);\n            }\n        }\n        if (changedRestore.length > 0) insight('Home PV Control', 'Restore', `${reason}; ${changedRestore.join(', ')}`);\n        if (notify) {\n            notification = {\n                title: 'PV restored',\n                message:\n`PV restored to full power.\n\nReason: ${reason}\n\nMarket price: ${market} \u20ac/kWh\nPV power: ${pvPower} W\nGrid power: ${grid} W\n\nInverters changed: ${calls.length}`\n            };\n        }\n    } else if (pvAction === 'adjust') {\n        let changedAdjust = [];\n        for (const t of targets) {\n            if (t.changed) {\n                calls.push(serviceMsg('number', 'set_value', { value: t.target }, { entity_id: t.entity }));\n                changedAdjust.push(`${t.name} ${t.current}\u2192${t.target}W`);\n            }\n        }\n        if (changedAdjust.length > 0) insight('Home PV Control', 'PV limit', `${reason}; target ${targetTotal}W; ${changedAdjust.join(', ')}`);\n        if (notify) {\n            notification = {\n                title: 'PV dynamically adjusted',\n                message:\n`PV dynamically adjusted.\n\nReason: ${reason}\n\nMarket price: ${market} \u20ac/kWh\nPV power: ${pvPower} W\nGrid power: ${grid} W\n\nTarget total PV limit: ${targetTotal} W\nInverters changed: ${calls.length}`\n            };\n        }\n    }\n\n    if (calls.length > 0) {\n        outputs[0] = calls;\n        if (['adjust', 'minimum', 'restore'].includes(pvAction)) {\n            flow.set('homePvControlLastPvWriteMs', now);\n            cooldownActiveNow = true;\n        }\n    }\n\n    // Battery strategy switching via HBC strategy selector.\n    if (controlHbc && validEntity(hbcStrategyEntity)) {\n        const chargeEnter = chargePrice;\n        const chargeExit = chargePrice + hysteresis;\n        const expensiveEnter = expensivePrice;\n        const expensiveExit = expensivePrice - hysteresis;\n\n        const wantsCharge =\n            allInValid &&\n            (\n                allIn < chargeEnter ||\n                (currentStrategy === 'Charge' && allIn < chargeExit)\n            );\n\n        const wantsExpensive =\n            allInValid &&\n            (\n                allIn >= expensiveEnter ||\n                (currentStrategy === expensiveStrategy && allIn >= expensiveExit)\n            );\n\n        const wantsBalanced = allInValid && !wantsCharge && !wantsExpensive;\n\n        if (wantsCharge && currentStrategy !== 'Charge') {\n            batteryOption = 'Charge';\n        } else if (wantsExpensive && currentStrategy !== expensiveStrategy) {\n            batteryOption = expensiveStrategy;\n        } else if (wantsBalanced && currentStrategy !== balancedStrategy) {\n            batteryOption = balancedStrategy;\n        }\n\n        if (batteryOption) {\n            insight('Battery Strategy', 'Selected', `${currentStrategy} \u2192 ${batteryOption}`);\n            outputs[7] = serviceMsg('input_select', 'select_option', { option: batteryOption }, { entity_id: hbcStrategyEntity });\n            if (notify) {\n                let batteryReason = '';\n                if (batteryOption === 'Charge') {\n                    batteryReason = `all-in price ${allIn} \u20ac/kWh is below charge threshold ${chargeEnter} \u20ac/kWh.`;\n                } else if (batteryOption === expensiveStrategy) {\n                    batteryReason = `all-in price ${allIn} \u20ac/kWh is at or above expensive threshold ${expensiveEnter} \u20ac/kWh.`;\n                } else {\n                    batteryReason = `all-in price ${allIn} \u20ac/kWh is in the balanced price zone.`;\n                }\n                outputs[6] = serviceMsg('persistent_notification', 'create', {\n                    notification_id: 'battery_ems_status',\n                    title: 'Battery strategy changed',\n                    message: `Battery strategy changed to ${batteryOption}.\\n\\nReason: ${batteryReason}\\n\\nPrevious strategy: ${currentStrategy}`\n                }, {});\n            }\n        }\n    }\n}\n\n// Cooldown insight: log only when cooldown starts, including immediately after a PV write.\n// This prevents the cooldown event from appearing one timer cycle late and avoids repeated cooldown spam.\nif (cooldownActiveNow && !previousCooldownActive) {\n    insight('Home PV Control', 'Cooldown', `PV cooldown active (${minChangeMinutes} min)`);\n} else if (cooldownJustFinished) {\n    insight('Home PV Control', 'Cooldown', 'PV cooldown finished; PV changes allowed on next evaluation');\n}\nflow.set('homePvControlCooldownActive', cooldownActiveNow);\n\n// Helper/status updates\noutputs[1] = serviceMsg('input_text', 'set_value', { value: String(status).slice(0,255) }, { entity_id: 'input_text.pv_ems_status' });\noutputs[2] = serviceMsg('input_text', 'set_value', { value: String(reason).slice(0,255) }, { entity_id: 'input_text.pv_ems_reason' });\noutputs[3] = serviceMsg('input_text', 'set_value', { value: (new Date().toLocaleString() + ' - ' + status).slice(0,255) }, { entity_id: 'input_text.pv_ems_last_action' });\noutputs[4] = null;\noutputs[5] = serviceMsg('input_text', 'set_value', { value: JSON.stringify({\n    cooldown_active: cooldownActiveNow,\n    pv_limited: inverters.some(inv => inv.current < (inv.full_power - deadband)),\n    negative_price_mode: wantsMinimumPv,\n    at_minimum_pv: atMinimumPv,\n    target_total: targetTotal\n}).slice(0,255) }, { entity_id: 'input_text.pv_ems_last_targets_json' });\n// Rolling insight log: keep last 10 unique decisions in HBC-like rows.\n// Duplicate detection ignores the timestamp, so repeated monitor/cooldown messages do not fill the list.\nlet insightCalls = [];\nconst oldInsights = [];\nfor (let i = 1; i <= 10; i++) {\n    oldInsights.push(strEntity(`input_text.pv_ems_insight_${i}`, ''));\n}\n\nconst merged = [];\nconst seenBodies = new Set();\nfor (const item of [...newInsights].reverse()) {\n    if (!seenBodies.has(item.key)) {\n        merged.push(item.line);\n        seenBodies.add(item.key);\n    }\n}\nfor (const line of oldInsights) {\n    const body = insightBody(line);\n    if (line && body && !seenBodies.has(body)) {\n        merged.push(line);\n        seenBodies.add(body);\n    }\n}\nconst nextInsights = merged.slice(0, 10);\nlet changedInsights = false;\nfor (let i = 1; i <= 10; i++) {\n    const value = String(nextInsights[i - 1] || '').slice(0,255);\n    if (value !== String(oldInsights[i - 1] || '')) changedInsights = true;\n    insightCalls.push(serviceMsg('input_text', 'set_value', {\n        value\n    }, { entity_id: `input_text.pv_ems_insight_${i}` }));\n}\noutputs[8] = changedInsights ? insightCalls : null;\n\nif (notification) {\n    outputs[6] = serviceMsg('persistent_notification', 'create', {\n        notification_id: 'home_pv_control_status',\n        title: notification.title,\n        message: notification.message\n    }, {});\n}\n\n\nreturn outputs;",
    "outputs": 9,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 220,
    "wires": [
      [
        "e1c936397b244505"
      ],
      [
        "01e07c219b49438d"
      ],
      [
        "5c4ca22000dc41e2"
      ],
      [
        "83132d46ae334992"
      ],
      [
        "f423d50e50cc45fb"
      ],
      [
        "6e5b0732a25442c1"
      ],
      [
        "f92d6aeb5dc24204"
      ],
      [
        "6d0a5ff8950049cd"
      ],
      [
        "set_pv_ems_latest_insight"
      ]
    ]
  },
  {
    "id": "8889fb6a2ef6433f",
    "type": "split",
    "z": "pvemsg_37a2e50fb4",
    "name": "Split inverter calls",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 730,
    "y": 60,
    "wires": [
      []
    ],
    "disabled": true
  },
  {
    "id": "e1c936397b244505",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set inverter limit",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 980,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "01e07c219b49438d",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set status",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 760,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "5c4ca22000dc41e2",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set reason",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 760,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "83132d46ae334992",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set last action",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 760,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "f423d50e50cc45fb",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set target total",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 760,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "6e5b0732a25442c1",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set targets JSON",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 760,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "f92d6aeb5dc24204",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Persistent notification",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 790,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "6d0a5ff8950049cd",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set HBC strategy",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 780,
    "y": 400,
    "wires": [
      []
    ]
  },
  {
    "id": "d7a7d0a9f5e14a10",
    "type": "inject",
    "z": "pvemsg_37a2e50fb4",
    "name": "Refresh entity dropdowns",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1800",
    "crontab": "",
    "once": true,
    "onceDelay": "20",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 500,
    "wires": [
      [
        "c0a78fd9e1dd4a98"
      ]
    ]
  },
  {
    "id": "c0a78fd9e1dd4a98",
    "type": "function",
    "z": "pvemsg_37a2e50fb4",
    "name": "Build entity dropdown options",
    "func": "// Build dropdown options for main dashboard entity selectors.\n// Uses only built-in input_select helpers, no custom cards/resources.\n// Requires Home Assistant server config: \"Enable global context store\" = true.\nfunction states() { return global.get('homeassistant.homeAssistant.states') || {}; }\nfunction isRealEntity(e) { return typeof e === 'string' && e.includes('.') && !['unknown','unavailable','select_entity_first',''].includes(e); }\nfunction svc(entity_id, options) {\n    const current = states()[entity_id] && states()[entity_id].state;\n    let list = Array.from(new Set((options || []).filter(isRealEntity).sort()));\n    list = ['select_entity_first', ...list.filter(e => e !== 'select_entity_first')];\n    // Only preserve current value if it is a real entity. Do not preserve unknown/unavailable.\n    if (isRealEntity(current) && !list.includes(current)) list.splice(1, 0, current);\n    return { payload: { action: 'input_select.set_options', target: { entity_id }, data: { options: list.slice(0, 250) } } };\n}\nconst s = states();\nconst all = Object.keys(s);\nconst sensors = all.filter(e => e.startsWith('sensor.'));\nconst numbers = all.filter(e => e.startsWith('number.'));\nconst inputSelects = all.filter(e => e.startsWith('input_select.') && !e.startsWith('input_select.pv_ems_'));\nconst powerSensors = sensors.filter(e => /power|meter|grid|p1|pv|solar|opendtu|ac_power/i.test(e));\nconst priceSensors = sensors.filter(e => /price|tibber|energy|electricity|market|tariff/i.test(e));\nconst pvPowerSensors = sensors.filter(e => /pv|solar|opendtu|inverter|ac_power|power/i.test(e));\nconst inverterNumbers = numbers.filter(e => /limit|power|inverter|hms|opendtu|pv|solar/i.test(e));\nlet msgs = [];\nmsgs.push(svc('input_select.pv_ems_grid_power_sensor_picker', powerSensors.length ? powerSensors : sensors));\nmsgs.push(svc('input_select.pv_ems_market_price_sensor_picker', priceSensors.length ? priceSensors : sensors));\nmsgs.push(svc('input_select.pv_ems_all_in_price_sensor_picker', priceSensors.length ? priceSensors : sensors));\nmsgs.push(svc('input_select.pv_ems_pv_power_sensor_picker', pvPowerSensors.length ? pvPowerSensors : sensors));\nmsgs.push(svc('input_select.pv_ems_battery_strategy_entity_picker', ['input_select.house_battery_strategy', ...inputSelects]));\nfor (let i = 1; i <= 10; i++) {\n    msgs.push(svc(`input_select.pv_ems_pv${i}_limit_number_picker`, inverterNumbers.length ? inverterNumbers : numbers));\n}\nif (all.length === 0) {\n    node.warn('Home Assistant states not available yet. Enable global context store in the Home Assistant server config, deploy, then wait 20 seconds.');\n}\nreturn [msgs];",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 480,
    "y": 500,
    "wires": [
      [
        "a8f0ed0b23724bb4"
      ]
    ]
  },
  {
    "id": "ec2f9df2b8ed4b3a",
    "type": "split",
    "z": "pvemsg_37a2e50fb4",
    "name": "Split dropdown updates",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 740,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "a8f0ed0b23724bb4",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set dropdown options",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 990,
    "y": 500,
    "wires": [
      []
    ]
  },
  {
    "id": "176d29a.6f648d6",
    "type": "server",
    "name": "Home Assistant",
    "addon": true,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": [],
    "connectionDelay": false,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": "",
    "statusSeparator": "",
    "enableGlobalContextStore": true
  },
  {
    "id": "c13506ce4b4c81a2",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-home-assistant-websocket": "0.80.3"
    }
  },
  {
    "id": "set_pv_ems_latest_insight",
    "type": "api-call-service",
    "z": "pvemsg_37a2e50fb4",
    "name": "Set insight row",
    "server": "176d29a.6f648d6",
    "version": 7,
    "debugenabled": false,
    "action": "{{$payload.action}}",
    "floorId": [],
    "areaId": [],
    "deviceId": [],
    "entityId": [],
    "labelId": [],
    "data": "payload.data",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "blockInputOverrides": false,
    "domain": "",
    "service": "",
    "target": "payload.target",
    "x": 980,
    "y": 455,
    "wires": [
      []
    ]
  },
  {
    "id": "split_pv_ems_insight_updates",
    "type": "split",
    "z": "pvemsg_37a2e50fb4",
    "name": "Split insight updates",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 740,
    "y": 455,
    "wires": [
      []
    ],
    "disabled": true
  },
  {
    "id": "hpvc_settings_changed",
    "type": "server-state-changed",
    "z": "pvemsg_37a2e50fb4",
    "name": "Settings changed",
    "server": "176d29a.6f648d6",
    "version": 6,
    "outputs": 1,
    "exposeAsEntityConfig": "",
    "entities": {
      "entity": [
        "input_select.pv_ems_grid_power_sensor_picker",
        "input_select.pv_ems_market_price_sensor_picker",
        "input_select.pv_ems_all_in_price_sensor_picker",
        "input_select.pv_ems_pv_power_sensor_picker",
        "input_boolean.pv_ems_enabled",
        "input_boolean.pv_ems_notifications",
        "input_boolean.pv_ems_control_hbc_strategy",
        "input_boolean.pv_ems_debug",
        "input_number.pv_ems_inverter_count",
        "input_number.pv_ems_pv_limiting_price",
        "input_number.pv_ems_battery_charge_price",
        "input_number.pv_ems_battery_expensive_price",
        "input_number.pv_ems_battery_price_hysteresis",
        "input_number.pv_ems_export_start_threshold",
        "input_number.pv_ems_export_stop_threshold",
        "input_number.pv_ems_import_restore_threshold",
        "input_number.pv_ems_pv_min_power_for_control",
        "input_number.pv_ems_pv_night_restore_power",
        "input_number.pv_ems_min_change_minutes",
        "input_number.pv_ems_pv_adjust_deadband",
        "input_select.pv_ems_balanced_strategy",
        "input_select.pv_ems_expensive_strategy",
        "input_select.pv_ems_pv1_limit_number_picker",
        "input_number.pv_ems_pv1_full_limit",
        "input_number.pv_ems_pv1_low_limit",
        "input_select.pv_ems_pv2_limit_number_picker",
        "input_number.pv_ems_pv2_full_limit",
        "input_number.pv_ems_pv2_low_limit",
        "input_select.pv_ems_pv3_limit_number_picker",
        "input_number.pv_ems_pv3_full_limit",
        "input_number.pv_ems_pv3_low_limit",
        "input_select.pv_ems_pv4_limit_number_picker",
        "input_number.pv_ems_pv4_full_limit",
        "input_number.pv_ems_pv4_low_limit",
        "input_select.pv_ems_pv5_limit_number_picker",
        "input_number.pv_ems_pv5_full_limit",
        "input_number.pv_ems_pv5_low_limit",
        "input_select.pv_ems_pv6_limit_number_picker",
        "input_number.pv_ems_pv6_full_limit",
        "input_number.pv_ems_pv6_low_limit",
        "input_select.pv_ems_pv7_limit_number_picker",
        "input_number.pv_ems_pv7_full_limit",
        "input_number.pv_ems_pv7_low_limit",
        "input_select.pv_ems_pv8_limit_number_picker",
        "input_number.pv_ems_pv8_full_limit",
        "input_number.pv_ems_pv8_low_limit",
        "input_select.pv_ems_pv9_limit_number_picker",
        "input_number.pv_ems_pv9_full_limit",
        "input_number.pv_ems_pv9_low_limit",
        "input_select.pv_ems_pv10_limit_number_picker",
        "input_number.pv_ems_pv10_full_limit",
        "input_number.pv_ems_pv10_low_limit"
      ],
      "substring": [],
      "regex": []
    },
    "outputInitially": false,
    "stateType": "str",
    "ifState": "",
    "ifStateType": "str",
    "ifStateOperator": "is",
    "outputOnlyOnStateChange": true,
    "for": "",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      },
      {
        "property": "topic",
        "propertyType": "msg",
        "value": "settings",
        "valueType": "str"
      }
    ],
    "x": 170,
    "y": 240,
    "wires": [
      [
        "b6018e413112474a"
      ]
    ]
  },
  {
    "id": "hpvc_trigger_design_note",
    "type": "comment",
    "z": "pvemsg_37a2e50fb4",
    "name": "Trigger design",
    "info": "Evaluates on: every 1 minute, deploy/startup, and settings/helper changes. Price changes are caught by the 1-minute evaluation without hardcoded sensor triggers.",
    "x": 170,
    "y": 60,
    "wires": []
  }
]